<!DOCTYPE html>
{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>

<body>
    <div id="heading">
        <h1>TEST</h1>
    </div>
    <div id="main">
        <div id="box">
            {% block main %}
            <form action="{% url 'loginurl' %}" method="POST">
                {% csrf_token %}
                Username :<input type="text" name="uname"><br><br>
                Password :<input type="text" name="pwd"><br><br>
                <input type="submit" value="Login">
                <p>You are not an user please <a href="{% url 'signupurl' %}">User Signup</a> here!</p>

            </form>
            {%for msg in messages %}
            <h2>{{msg}}</h2>
            {% endfor %}
            {% endblock %}
        </div>
    </div>
</body>

</html>