*{
    padding:0px;
    margin: 0px;
}
#heading{
    background-color:maroon;
    height: 50px;
}
#heading h1{
    text-align: center;
    font-size: xx-large;
    color:black;
}
#main{
    background-color:aquamarine;
    height: 600px;
    color: black;
}
#box{
    position: relative;
    top: 100px;
    left:450px;

}
#box input{
    height: 20px;
    color: maroon;
}
